@import "tailwindcss";

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --Cyan: hsl(180, 66%, 49%);
  --Cyan-Hover: hsl(180, 54%, 65%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Gray-Light: hsl(0, 0%, 97%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --Font-size: 18px;
}

body {
  font-family: "poppins", var(--system-ui);
  font-size: var(--Font-size);
}

.center,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button,
.copy {
  padding: 8px 24px;
  background-color: var(--Cyan);
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.copy,
.copyClick {
  padding: 4px 18px;
  border-radius: 4px;
  width: 100px;
  font-size: 16px;
}

.button:hover,
.copy:hover {
  background-color: var(--Cyan-Hover);
}

.copyClick {
  background-color: var(--Dark-Violet);
  color: white;
}

.nav:hover {
  color: var(--Very-Dark-Violet);
  font-weight: bold;
}

.urlInput {
  background: var(--Dark-Violet) no-repeat
    url("../src/assets/images/bg-boost-desktop.svg");
}
